@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #9c9c9cb3;
    --header-color: #fafbfb;
}

body {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background-color: var(--body-color);
    z-index: 10;
}

ul {
    list-style: none;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    justify-content: left;
    width: 11rem;
    margin: .5rem 0 0 1rem;
    font-family: cursive;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%;
    padding: 0.5rem;
    background-color: var(--header-color);
    margin: 1rem 0 0 1.5rem;
    border-radius: 1rem;
    z-index: 100;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.navbar {
    position: relative;
    cursor: pointer;
    display: flex;
    transition: all 0.3s ease-in-out;

}

.main-nav {
    display: flex;
    margin: auto;
    gap: 0.5rem;
}

.nav-item {
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    white-space: nowrap;
}

.nav-item a {
    text-decoration: none;
    color: #000;
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
    transform: scaleX(0);
}

.main-nav:hover~.indicator {
    transform: scaleX(1);
}

.main-nav .active {
    position: relative;
    --bc: #264653;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 10%;
    width: 80%;
    height: 0.25rem;
    background-color: var(--bc);
    animation: fade 300ms ease-in-out forwards;
}

/* @keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

span {
    position: relative;
    display: inline-flex;
    width: 11.25rem;
    height: 3.5rem;
    margin: 0 1rem;
    perspective: 62.5rem;
}

span a {
    font-size: 1.25rem;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'cursive', sans-serif;

}

span a:before,
span a:after {
    position: absolute;
    content: "Sign Up";
    height: 3.125rem;
    width: 11.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 0.5;
}

span a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

span a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

.container-blog {
    margin-top: 3rem;
}

/* main code */
.left {
    /* background-color: rgba(0, 0, 0, .025); */
    border-right: 1px solid rgba(0, 0, 0, .05);
    float: left;
    height: 100%;
    margin-left: -1px;
    min-width: 256px;
    position: fixed;
    left: 0;
    width: 30%;
}

.right {
    float: right;
    min-height: 200%;
    position: relative;
    width: 70%;

}

.projcard-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px 0;
    margin-top: 7rem;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
    box-sizing: border-box;
}

.projcard-container {
    margin-left: calc(40%);
    margin-right: 5rem;
    width: 60%;

}

.projcard {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard.hide {
    display: none;
}

.projcard.active {
    display: block;
}

.projcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
}

.projcard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 0.07;
}

.projcard:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.projcard-img {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
}

.projcard:nth-child(2n) .projcard-img {
    left: initial;
    right: 0;
}

.projcard:hover .projcard-img {
    transform: scale(1.05) rotate(1deg);
}

.projcard:hover .projcard-bar {
    /* width: 200px; */
    width: 80%;
}

.projcard-textbox {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 430px;
    width: calc(100% - 470px);
    font-size: 17px;
}

.projcard:nth-child(2n) .projcard-textbox {
    left: initial;
    right: 430px;
}

.projcard-textbox::before,
.projcard-textbox::after {
    content: "";
    position: absolute;
    display: block;
    background: #ff0000bb;
    background: #fff;
    top: -20%;
    left: -55px;
    height: 140%;
    width: 60px;
    transform: rotate(8deg);
}

.projcard:nth-child(2n) .projcard-textbox::before {
    display: none;
}

.projcard-textbox::after {
    display: none;
    left: initial;
    right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
    display: block;
}

.projcard-textbox * {
    position: relative;
}

.projcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    font-size: 24px;
}

.projcard-bar {
    left: -2px;
    width: 10%;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
    background-color: #0088FF;
}

.projcard-blue::before {
    background-image: linear-gradient(-70deg, #0088FF, transparent 50%);
}

.projcard-blue:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #0088FF, transparent 50%);
}

.projcard-red .projcard-bar {
    background-color: #D62F1F;
}

.projcard-red::before {
    background-image: linear-gradient(-70deg, #D62F1F, transparent 50%);
}

.projcard-red:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #D62F1F, transparent 50%);
}

.projcard-green .projcard-bar {
    background-color: #40BD00;
}

.projcard-green::before {
    background-image: linear-gradient(-70deg, #40BD00, transparent 50%);
}

.projcard-green:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #40BD00, transparent 50%);
}

.projcard-yellow .projcard-bar {
    background-color: #F5AF41;
}

.projcard-yellow::before {
    background-image: linear-gradient(-70deg, #F5AF41, transparent 50%);
}

.projcard-yellow:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #F5AF41, transparent 50%);
}

.projcard-orange .projcard-bar {
    background-color: #FF5722;
}

.projcard-orange::before {
    background-image: linear-gradient(-70deg, #FF5722, transparent 50%);
}

.projcard-orange:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #FF5722, transparent 50%);
}

.projcard-brown .projcard-bar {
    background-color: #C49863;
}

.projcard-brown::before {
    background-image: linear-gradient(-70deg, #C49863, transparent 50%);
}

.projcard-brown:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #C49863, transparent 50%);
}

.projcard-grey .projcard-bar {
    background-color: #424242;
}

.projcard-grey::before {
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
}

.projcard-grey:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-customcolor .projcard-bar {
    background-color: var(--projcard-color);
}

.projcard-customcolor::before {
    background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%);
}

.projcard-customcolor:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%);
}

.projcard-description {
    /* z-index: 10; */
    font-size: 15px;
    color: #424242;
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* left */
.cards-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 6rem;
    height: -webkit-fill-available;
}

.card {
    margin: 10px auto;
    width: 300px;
    height: 100px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
    justify-content: left;
    box-shadow: 6px 8px 21px -3px rgba(0, 0, 0, .66);
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 30px;
    object-fit: cover;
}

.card .card_title {
    z-index: 100;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
    margin-top: -65px;
    height: 40px;
}

.card:hover {
    transform: scale(1.1, 1.1);

}

.card:active {
    transform: scale(1.1, 1.1);
}

.title-white {
    color: var(--body-color);
}

.active-card {
    transform: scale(1.1, 1.1);
    color: white;
    text-decoration: underline;
}




/* @media all and (max-width: 500px) {
    .card-list {
        flex-direction: column;
    }
} */


/* modal */

.pdfobject-container {
    height: 30rem;
    border: 1rem solid rgba(0, 0, 0, 0.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0vh;
    background-color: transparent;
    overflow: hidden;
    transition: background-color 0.25s ease;
    z-index: 9999;
}

.modal.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.25s;
}

.modal.open>.content-wrapper {
    transform: scale(1);
}

.modal .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    padding: 2.5rem;
    background-color: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 0.25s;
    transition-delay: 0.15s;
}

.modal .content-wrapper .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    transition: 0.25s linear;
}

.modal .content-wrapper .close:before,
.modal .content-wrapper .close:after {
    position: absolute;
    content: "";
    width: 1.25rem;
    height: 0.125rem;
    background-color: black;
}

.modal .content-wrapper .close:before {
    transform: rotate(-45deg);
}

.modal .content-wrapper .close:after {
    transform: rotate(45deg);
}

.modal .content-wrapper .close:hover {
    transform: rotate(360deg);
}

.modal .content-wrapper .close:hover:before,
.modal .content-wrapper .close:hover:after {
    background-color: tomato;
}

.modal .content-wrapper .modal-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 0 1.25rem;
}

.modal .content-wrapper .modal-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal .content-wrapper .content {
    position: relative;
    display: flex;
}

.modal .content-wrapper .content p {
    font-size: 0.875rem;
    line-height: 1.75;
}

.modal .content-wrapper .modal-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 1.875rem 0 0;
}

.modal .content-wrapper .modal-footer .action {
    position: relative;
    margin-left: 0.625rem;
    padding: 0.625rem 1.25rem;
    border: none;
    background-color: slategray;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.87rem;
    font-weight: 300;
    overflow: hidden;
    z-index: 1;
}

.modal .content-wrapper .modal-footer .action:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: width 0.25s;
    z-index: 0;
}

.modal .content-wrapper .modal-footer .action:first-child {
    background-color: #2ecc71;
}

.modal .content-wrapper .modal-footer .action:last-child {
    background-color: #e74c3c;
}

.modal .content-wrapper .modal-footer .action:hover:before {
    width: 100%;
}